/vendor/
/node_modules/
/.env
/.env.production
/.env.backup
/.env.*.local
/.phpunit.result.cache
/storage/*.key
/storage/logs/*
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
/public/hot
/public/storage
/public/build
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
database/*.sqlite
